{% extends 'base.html' %}

{% block content %}

    <h3>Set New Password</h3>

    {% if validlink %}
        <form class="form-control" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                <div class="col-sm-10">{{ field }}</div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form>
    {% else %}
        <p><strong>Invalid Token</strong></p>
        <p>
            <a href="{% url 'password_reset' %}">
                Request a new password token
            </a>
        </p>
    {% endif %}

{% endblock %}